* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

.heading-text {
  font-family: "Inconsolata", monospace;
  color: #2b2544;
  text-shadow: 2px 2px 2px magenta;
  margin-bottom: 60px;
  margin-top: 90px;
}

.hello {
  font-size: 70px;
}

.thine {
  color: magenta;
  text-shadow: 3px 2px 2px #fff;
}

.full {
  font-size: 40px;
  letter-spacing: 0.2em;
  margin-top: 50px;
  margin-bottom: 30px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#img {
  border-radius: 25px;
  box-shadow: 10px 10px 5px black;
  width: 30%;
}

#par {
  font-size: 20px;
  margin: 15px;
  line-height: 40px;
}

.tech {
  letter-spacing: 0.2em;
}

.tech1 {
  font-family: "Inconsolata", monospace;
}

.this {
  font-family: "Inconsolata", monospace;
}

.project {
  margin-top: 100px;
  padding-bottom: 100px;
  padding-top: 50px;
}

#mrio {
  margin-bottom: 40px;
  margin-top: 120px;
}

.skills {
  margin: 30px;
}

.skill {
  text-shadow: 3px 2px 2px magenta;
  letter-spacing: 0.1em;
  overflow: hidden;
}

.notification .cp:not(.button):not(.dropdown-item) {
  text-decoration: none;
  font-size: 15px;
}

.tagcon {
  margin: 5px;
  margin-top: 20px;
}

.tile {
  height: 100%;
}

#contact {
  margin: 10px;
  padding-right: 0px;
}

#gmap {
  width: 100%;
  height: 100%;
}

.resume {
  font-size: 20px;
}

.fas {
  margin: 3px;
}

.proj {
  margin-top: 50px;
  padding-bottom: 40px;
  font-size: 20px;
  text-shadow: 2px 2px 2px magenta;
  font-family: "Inconsolata", monospace;
}

.proj1 {
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 50px;
  text-shadow: 2px 2px 2px magenta;
  font-family: "Inconsolata", monospace;
}

.con {
  overflow: hidden;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 0.5em;
}

.number {
  font-size: 15px;
  margin-top: 10px;
}

.foot {
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.over {
  overflow-y: hidden;
}

/*media Queries*/
/*mobile style*/
@media only screen and (max-width: 415px) {
  .hello {
    font-size: 28px;
  }

.passion {
  padding: 5px;
}

  #stack {
    font-size: 21px;
    margin: 2px;
    margin-bottom: 20px;
  }

  .full {
    font-size: 25px;
  }

  .heading-text {
    font-size: 30px;
  }

  #img {
    width: 300px;
  }

  #about {
    padding-top: 0px;
  }

  #par {
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
  }

  .tech1{
    font-size: 20px;
  }

  .proj {
    font-size: 30px;
  }

  #mrio {
    margin: 0px;
  }

  .iconstech {
    padding: 10px;
  }

  .social {
    font-size: 30px;
  }

  .number {
    font-size: 15px;
  }

  #navBar {
    max-width: 100vw;
  }

  .cont{
    padding-right: 25px;
  }
}

/*tablet style*/
@media only screen and (min-width: 410px) and (max-width: 960px) {
  .hello {
    font-size: 50px;
  }

  .full {
    font-size: 35px;
  }

  .heading-text {
    font-size: 30px;
  }

  .img {
    width: 330px;
    margin-left: 80px;
    position: relative;
  }

  #par {
    font-size: 18px;
    /*text-align: justify;*/
  }

  .image {
    float: right;
    margin: 0 auto;
  }

  .proj {
    font-size: 40px;
  }

  .skill {
    margin-top: 100px;
  }

  .social {
    font-size: 50px;
  }

  .number {
    font-size: 25px;
  }

  .bounce {
    font-size: 40px;
  }
}

/*Desktop style*/
@media only screen and (min-width: 961px) {
}
